/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    max-width: 1350px;
    margin: 0 auto;
    /* border: 1px solid red; */
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* shared styles */
.btn-primary{
    color: #fff;
    background-color: #e55473;
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 8px;
    border: none;
}



/* Banner section styles start */
.banner{
    max-width: 1350px;
    margin: 0 auto;
    /* height: 850px; */
    background-color: rgba(221, 154, 206, 0.5);
    display: flex;
    padding: 50px 150px 0 150px;
}
.banner-content{
    text-align: left;
    width: 1000px;
    padding-top: 150px;
}
.banner-content h1{
    font-size: 60px;
    padding-bottom: 25px;
    font-weight: 800;

}
.banner-content p{
    font-size: 20px;
    padding-bottom: 25px;
}

.banner-image{
    padding-top: 0px;
    position: relative;        
    /* left: 200px; */
}
.banner-image img{
    width:500px;
}



/* Banner section styles end */


/* Feature section styles starts */
.feature{
    width: 1000px;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 100px 0;
}
.feature-heading{
    width: 500px;
    margin: 0 auto;
}
.feature-heading h1{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}
.feature-heading p{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
}
.feature-items{
    width: 1000px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* border: 1px solid red; */
}
.feature-item{
    display: flex;
    flex-direction: column;
    /* width: 250px; */
    /* background: pink; */
    /* margin; 0 10px; */
    /* border-radius:50px 50px 0 0; */
    
}
.item-1 img{
    background-color: #f2dee7;
}
.item-2 img{
    background-color: #d9eff1;
}
.item-3 img{
    background-color: #e3ebdb;
}
.feature-item img{
    width: 300px;
    height: 300px;
    background: f2dee7;
    /* margin; 0 10px; */
    padding: 30px 30px 0;
    border-radius:50% 50% 0 0;
}
.feature-item h5{
    text-decoration: underline;
    font-size: 18px;                                                             ;
}
/* Feature section styles end */


/* Activity section styles start */
.activity{
    width: 1000px;
    height: 0px;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 100px 0;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-bottom: 50px;
}
.activity-items{
    width: 750px;
    height: 10px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    
}
.activity-item img{
    padding-bottom: 15px;
}
/* Activity section styles end */




/* Offer section styles start */
.offer{
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fef6f8;
    padding: 50px;
    text-align: center;
}
.offer-content{
    width: 700px;
}
.offer h1{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 30px;
}
.pink-off{
    color: rgb(245, 0, 163);
    font-weight: 800;
}
.offer p{
    font-size: 22px;
    padding-bottom: 30px;
}
/* Offer section styles end */


/* Instragram section styles start */
.instragram{
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
    
}
.instragram-heading{
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
.instragram h1{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 35px;
}
.instragram p{
    font-size: 20px;
    line-height: 35px;
    padding-bottom: 35px;
}

.instragram-items{
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
  

}
.instragram-item img{
    width: 240px;
    /* padding: 0 10px; */
}
/* Instragram section styles end */



/* News letter section starts */
.news-letter{
    max-width: 1000px;
    margin: 0 auto;
    /* height: 600px; */
    padding: 120px 0;
    /* border: 1px solid red;     */
    text-align: center;
    background-image: url("./Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.news-letter-form h1{
    font-size: 45px;
    padding-bottom: 25px;

}
.news-letter-form p{
    font-size: 25px;
    padding-bottom: 30px;
}
.news-letter-form input{
    width: 350px;
    height: 60px;
    font-size: 35px;
    padding: 15px;
    margin-right: 20px;
}
/* News letter section end */


/* Footer section styles start */
.shop{
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    
}
.flower{
    color: #b1481f;
    font-size: 50px;
    font-weight: 800;

}
.footer{
    max-width: 1350px;
    margin: 0 auto;
    background: #000;
    padding: 60px 0;
    text-align: center;
}
.flower-shop{
    width: 700px;
    /* height: 350px; */
    margin: 0 auto;
    /* padding-top: 100px; */
}
.flower-shop h1{
    padding-bottom: 30px;
}
.flower-shop p{
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    padding-bottom: 40px;
}
.copyright{
    color: #ddd;
    font-size: 25px;
}